<div>
	<div id="criteria_alternatives_chart">
	</div>
	<div id="container criteria_alternatives_matrix">
		<table class="table table-hover">
			<% @alternatives_matrix.each_pair do |src, val| %>
				<% val.each_pair do |trg, mat_val| %>
				<tr>
					<td class="alt-src">
						<%= src %>
					</td>
					<td class="eval-numbers">
						9
					</td>
					<td class="alt-val">
						<span id="slider-<%= src %>-<%= trg %>-val" class="sliders-vals" > <%= (mat_val < 1) ? (1/mat_val).to_i : mat_val.to_i %> </span>
					    <div id="slider-<%= src %>-<%= trg %>" class="sliders" data-val="<%= mat_val %>"> </div>
					</td>
					<td class="eval-numbers">
						9
					</td>
					<td class="alt-trg">
						<%= trg %>
					</td>
				</tr>
				<% end %>
			<% end %>
		</table>
	</div>
</div>