<%= form_for([@problem, @criterium], :remote => true, html: {class: "form-horizontal criteria-form"}) do |f| %>
  <% if @criterium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@criterium.errors.count, "error") %> prohibited this criterium from being saved:</h2>

      <ul>
      <% @criterium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
		<%= f.label :name, :class => "control-label" %>
	    <div class="controls">
	    	<%= f.text_field :name %>
	    </div>
  </div>

  <div class="control-group">
		<%= f.label :desc, :class => "control-label" %>
		<div class="controls">
			<%= f.text_area :desc %>
		</div>
  </div>
  
  <div class="control-group">
		<div class="controls">
    		<%= f.submit @criterium.new_record? ? "Create Criteria" : "Update Criteria", :id => "create_criteria", :class => "btn btn-primary" %>
  		</div>
  </div>
  
<% end %>
