<%= form_for([@problem, @criterium], :remote => true, html: {class: "form-horizontal criteria-form"}) do |f| %>
  <% if @criterium.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@criterium.errors.count, "error") %> prohibited this criterium from being saved:</h4>

      <ul>
      <% @criterium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  	<div class="control-group">
		<%= f.label :name, :class => "control-label" %>
	    <div class="controls">
	    	<%= f.text_field :name, class: "input-xlarge", required: "required" %>
	    </div>
  	</div>
	
	<div class="control-group">
		<%= f.label "Parent Criteria", :class => "control-label" %>
		<div class="controls">
			<%= f.select(:parent_id, options_for_select(@problem.getParentSubCriteria) ) %>
		</div>
  	</div>

  	<div class="control-group">
		<%= f.label :desc, :class => "control-label" %>
		<div class="controls">
			<%= f.text_area :desc, class: "input-xxlarge", required: "required", row: 10 %>
		</div>
  	</div>
  
  	<div class="control-group">
		<div class="controls">
    		<%= f.submit @criterium.new_record? ? "Create Criteria" : "Update Criteria", :id => "create_criteria", :class => "btn btn-primary" %>
  		</div>
  	</div>
  
<% end %>
