<p id="notice"><%= notice %></p>

<p> <strong><%= @criterium.name %>: </strong> #<%= @criterium.tw_hash %> </p>

<dl>
	<dt> Weight. </dt>
	<dd><%= @criterium.weight %></dd>
</dl>

<dl>
	<dt> Description. </dt>
	<dd><%= @criterium.desc %></dd>
</dl>