<p id="notice"><%= notice %></p>

<p> <strong><%= @problem.name %>: </strong> #<%= @problem.tw_hash %> </p>

<dl>
	<dt> Description. </dt>
	<dd><%= @problem.desc %></dd>
</dl>


<% if @problem.pending? %>
	<%= link_to 'Edit', edit_problem_path(@problem), :class => "btn btn-primary problem-edit", :remote => true %>
	<%= link_to 'Activate the problem', active_problem_path(@problem), :class => "btn btn-primary problem-activate", :remote => true, data: { confirm: 'Are you sure?' } %>
<% end %>


<% if @problem.active? %>
	<%= link_to 'Close the problem', close_problem_path(@problem), :class => "btn btn-primary problem-close", :remote => true, data: { confirm: 'Are you sure?' } %>
	<%= link_to 'Evaluate Criteria', evaluate_criteria_problem_path(@problem), :class => "btn btn-primary problem-evaluate-criteria", :remote => true %>
	<%= link_to 'Evaluate Alternatives', evaluate_problem_path(@problem), :class => "btn btn-primary problem-evaluate", :remote => true %>
<% end %>